@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "mixins";
body{
    background-color: #10051f;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
}
@import "header";
.container{
    @include flex(row, center, space-between, nowrap);
    width :1200px;
    margin: 0px auto;
    padding: 0px 5px;
    @media(max-width: 1200px){
        width: 1050px;
        padding: 0px 3px;
    }
    @media(max-width: 1050px){
        width: 990px;
    }
    @media(max-width: 990px){
        width: 100%;
        padding: 0px 5px;
    }
}
.page{
    @import "banner";
    @import "skills";
    @import "projects";
    @import "creation";
}
@import "footer";
.section{
    padding: 60px 0;
}